:root {
    --primary: #29ad91;
    --secondary: #f7b377;
    --white-color: rgb(67, 67, 68);
}

@font-face {
    font-family: brandon-grotesque;
    src: url("../fonts/HVD\ Fonts\ -\ BrandonGrotesque-Bold.otf") format("opentype");
    font-family: nexarustscript;
    src: url("../fonts/NexaRustScriptL-0.otf") format("opentype");
    
}

.background {
    /* background-image: url("../images/iStock-1279277960.jpg") !important; */
    background-color: var(--primary);
}
/* h2 {
    border-bottom: solid 2px whitesmoke;
} */

section {
    margin: 20px 0;
    border-radius: 10px;
}

/* navbar */

nav {
    background-color: var(--secondary);
}
.font-header {
    font-family:brandon-grotesque !important;
    font-size: 45px;
}
a > img {
    height: 50px;
    width: 50px;
}

.font-second {
 font-family: nexarustscript !important;
 text-transform: lowercase;
}

/* question */
.navbar-toggle {
    background-color: var(--primary);
}


/* Now Open */
.h1-nulu {
   font-size: 3rem;
    text-align: center;
}

h1, h2  {
    color: whitesmoke;
}

.text-nulu {
    font-size: 25px;
    color: var(--primary);
    text-align: center;
}

.nulu-opening-container {
    background-color: var(--white-color);
}

.padding-text-nulu {
    margin-top: 90px;
    margin-right: 10px;
    
}

.padding-heading-nulu  {
    margin-top: 90px;
}

/* Cleaner Drinks image and text */
.greener-contianer {
    background-color: var(--white-color);
    text-align: center;
}
.cleaner-drinks-text {
    margin-top: 25px;
    text-align: center;
    color: var(--secondary);
    font-size: 25px;
}

.cleaner-drinks-padding {
    margin-top: 150px;
}

/* Party with Us */
.party-withus-container {
    background-color: var(--white-color);
    text-align: center;
}
.text-party{
    text-align: center;
    color: var(--primary);
    font-size: 25px;
}

.header-party-text {
    margin-top: 125px;
}

img {
    border-radius: 10px;
}
video {
    border-radius: 10px;
}

.carousel {
    border-radius: 10px;
}

/* events */
.events-container {
    text-align: center;
    background-color: var(--secondary);
    color: var(--primary);
}

.events-text {
    font-size: 25px;
    
}
.events-h2 {
    border-bottom: none;
}

/* hours */
.hours-container {
    text-align: center;
    background-color: var(--white-color);
    color: var(--primary);
}

.hours-text {
    font-size: 25px;
    
}
.hours-h2 {
    border-bottom: none;
}

#openClass {
    color: whitesmoke;
}

/* Social and address */
.social-container {
    color: var(--primary);
    background-color: var(--white-color);
}

a, #location, #social {
color: var(--primary);
}

.social-icons {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

.icon {
    height: 50px;
    width: 50px;
}

.address-text {
    font-size: 30px;
}

/* contact us */
button {
    color: #fff;
    background-color: var(--primary);
}

.form-header {
    text-align: center;
}

.menu-link {
    text-align: center;
    color: black;
}

.about-headers {
    margin: 20px 0;
    border-bottom: black;
    color: black;
}
#contact {
    margin-bottom: 0;
}

.menu-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}
.carousel-inner-picture {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.carousel-inner {
    max-height: 5%;
    max-width: 40%;
    width: 50%;
    height: 5%;
}
#carouselExampleControls {
    background-color: var(--white-color);
}

.hr {
    color: whitesmoke;
    height: 3px;
}
@media (min-width: 701px) {
    .hide-on-desktop {
        display: none;
    }
}
@media (max-width: 700px) {
    a > img {
        height: 50px;
        width: 50px;
    }
    .font-header {
        font-size: 30px;
    }
    .padding-text-nulu, .cleaner-drinks-padding, .header-party-text {
        margin: 0;
    }
    .carousel-inner {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: auto;
    }
    #carouselExampleControls {
        background-color: none;
    }
   
}