@font-face {
    font-family: brandon-grotesque;
    src: url("../fonts/HVD\ Fonts\ -\ BrandonGrotesque-Bold.otf") format("opentype");
    font-family: nexarustscript;
    src: url("../fonts/NexaRustScriptL-0.otf") format("opentype");
    
}
video {
    height: 40%;
    width: 100%;
}

.rest-img {
    height: 1500px;
    width: auto;
}

.font-header {
    font-family:brandon-grotesque !important;
}

.font-second {
 font-family: nexarustscript !important;
}

.menupdf {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: auto;
}

.navbar-collapse  {
    background-color: #29ad91 !important;
}

button, .navbar-toggler {
    background-color: #29ad91;
}

.background {
    background-image: url("../images/iStock-1279277960.jpg") !important;
}

.text-content-background {
    background-color: whitesmoke !important;
}

/* .carousel-item {
    height: 300px;
    width: auto;
} */

@media (max-width: 700px) {
    img {
        height: 500px !important;
        width: 100% !important;
        margin-top: -100px;
        margin-bottom: -300px;
    }
    a, img {
        height: 30px !important;
        width: 30px !important;
        margin: 0;
    }
    a, .navbar {
        padding-bottom: 25px;
        background-color: #c16137;
    }
    button, .navbar-toggler {
        margin-top: 10px;
        
    }

    .navbar-collapse, .collapse, .show {
        margin-top: 20px;
        background-color: #29ad91 !important;
    }
}
