@font-face {
    font-family: brandon-grotesque;
    src: url("../fonts/HVD\ Fonts\ -\ BrandonGrotesque-Bold.otf") format("opentype");
    font-family: nexarustscript;
    src: url("../fonts/NexaRustScriptL-0.otf") format("opentype");
    
}
video {
    height: 40%;
    width: 100%;
}

.rest-img {
    height: 1500px;
    width: auto;
}

.font-header {
    font-family:brandon-grotesque !important;
}

.font-second {
 font-family: nexarustscript !important;
 text-transform: lowercase;
}

.menupdf {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: auto;
}

.navbar-collapse  {
    background-color: #29ad91 !important;
}

button, .navbar-toggler {
    background-color: #29ad91;
}

.background {
    background-image: url("../images/iStock-1279277960.jpg") !important;
}

.text-content-background {
    background-color: whitesmoke !important;
}
.about-headers {
    margin-bottom: 20px;
}
/* .carousel-item {
    height: 300px;
    width: auto;
} */
.hide-menu-link {
    display: none;
}
/* About Us */

.about-headers {
    margin: 20px 0;
}

@media (max-width: 700px) {
    img {
        height: 250px !important;
        width: 350px !important;
        margin-top: -100px;
        margin-bottom: -300px;
    }
    a, #logo-image {
        height: 30px !important;
        width: 30px !important;
        margin: 0;
    }
    a, .navbar {
        padding-bottom: 25px;
        text-align: center;
    }
    button, .navbar-toggler {
        margin-top: 10px;
        padding: 4px
        
    }

    .button, .button-back {
        margin-top: 10px;
    }

    .navbar-collapse, .collapse, .show {
        margin-top: 20px;
        background-color: #29ad91 !important;
    }

    .img-section {
        height: 200px !important;
        width: 350px !important;
       
    }
     /* .hide {
        display: none;
    }
    */
     .hide-menu-link {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
    } 
    
    object {
        height:500px;
        width: 350px;
    }
   
    #glass-image-grass {
        height: 200px !important;
    width: 200px !important;
    margin-bottom: -250px !important;
    }

    #party-image-couch {
        height: 200px !important;
    width: 200px !important;
    margin-top: 5px;
    margin-bottom: -100px !important;
    }

    #text-content {
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    #text-content, h1 {
        font-size: 36px;
    }

    #about-picture {
        display: none;
    }
    .font-header {
        margin-top: 8px;
    }

    .hide-carousel {
        display: none;
    }

    #text-content-openning {
        height: 300px !important;
    }
    object {
        background-color: whitesmoke;
    }
}
