@font-face {
    font-family: brandon-grotesque;
    src: url("../fonts/HVD\ Fonts\ -\ BrandonGrotesque-Bold.otf") format("opentype");
    font-family: nexarustscript;
    src: url("../fonts/NexaRustScriptL-0.otf") format("opentype");
    
}
video {
    height: 40%;
    width: 100%;
}

.rest-img {
    height: 1500px;
    width: auto;
}

.font-header {
    font-family:brandon-grotesque !important;
}

.font-second {
 font-family: nexarustscript !important;
}